<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Harbor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<%== render 'layouts/header' %>
<main class="bg-light">
  <%= yield %>
</main>

<%= button_to root_path, method: :get, class: 'btn btn-warning bmd-btn-fab active live_add_btn' do %>
  <i class="material-icons create_icon">create</i>
<% end %>

</body>

</html>